@charset "UTF-8";

div {
	position: absolute;
	top: 100px;
	left: 500px;
	text-align: center;
}

h1 {
	color: olive;
}

a {
	font-size: larger;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}

a {
	text-decoration: none;
}

a:hover {
	color: olive;
}